:root {
    --default-text-color: #555;
    --darker-text-color: #111;
    --emerald: #50C878;
    --jade: #00A86B;
    --light-grey: #eaeaea;

    --favorite-color: var(--jade);
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: var(--default-text-color);
}

body > * {
    padding: 2em 4em;
}

a {
    color: var(--favorite-color);
    text-decoration: none;
    font-weight: bolder;
}

strong {
    color: var(--favorite-color);
}


li {
    list-style-type: none;
}

ul {
    padding: 0;
}


/* HEADING */
header {
    padding-right: 20%;
    padding-bottom: 35%;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_title {
    font-size: 3em;
    padding: 1em 0;
}

.header_description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
    margin-bottom: 2em;
}

.header_description_text {
    font-size: 1.5em;
    align-self: center;
}

.profile_picture {
    width: 100%;
    max-width: 12em;
    justify-self: center;
}

/* SECTION */
section {
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.skill_table {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}

.skill_table > * {
    padding: 0 2em;
}

.title {
    color: var(--favorite-color);
    text-align: right;
}

.sideline {
    border-left: .15em solid var(--favorite-color);
    padding-left: 2em;
    margin-left: 2em;
}


.label {
    font-size: 1.3em;
}

.table_label span {
    margin: 0 .3em;
}


.video-content {
    display: grid;
    grid-row-gap: 2em;
}

.video {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-gap: 2em;
}


.video:not(:last-child) {
    padding-bottom: 2em;
    border-bottom: .1em solid var(--light-grey);
}

/* YOUTUBE */

.youtube_wrapper {
    position: relative;
    min-width: 300px;
    width: 100%;
    height: 0;
    padding-top: 51%;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/* FOOTER */
footer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}


.acknowledgements > div {
    max-width: 12em;
    margin: .7em 0;
}

.social_media {
    margin: 2em 0;
    display: flex;
    flex-flow: wrap;
}

.social_media > * {
    margin: .3em 1em;
}

.social_media svg {
    width: 100%;
    max-width: 48px;
    fill: var(--default-text-color);
}


.social_media svg:hover {
    fill: var(--favorite-color);
}

/* MOBILE OPTIMISATIONS */

@media screen and (max-width: 750px) {


    body > section {
        padding: 0 1em;
    }

    .header_description {
        grid-template-columns: 1fr;
    }

    section {
        grid-template-columns: 1fr;
    }

    .title {
        text-align: center;
        margin-bottom: 3em;
        padding-bottom: .5em;
        border-bottom: .15em solid var(--favorite-color);
    }

    .sideline {
        border: none;
        margin-left: 0;
        padding: 0;
    }

    footer {
        justify-content: center;
    }

    .acknowledgements > div {
        max-width: none;
    }
}

@media screen and (max-width: 900px) {
    .video {
        grid-template-columns: 1fr;
    }
}


